/** @format */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff3e0;
}
/* second navigation bar  */
.nav-bars {
  height: 10vh;
  width: 100%;
  background-color: #ffff;
  /* sticky not working fix it  */
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-main {
  display: flex;
  justify-content: space-between;
}
.logo-text {
  height: 10vh;
  width: 9.3vw;
  margin-left: 0.3vw;
}

.nav-logo {
  height: 5vh;
  width: 7vw;
  margin-top: 0.5vh;
  margin-left: 1.39vw;
}

.logo-image {
  height: 5vh;
  width: 7vw;
}

.nav-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  font-size: 20px;
  margin: 2px;
  color: black;
  margin-left: -1.7vw;
}

.name-link {
  text-decoration: none;
}

.nav-content {
  text-decoration: none;
  font-size: 17px;
}

ul {
  list-style-type: none;
  margin-top: 4vh;
  padding: 0;
}
.list-items {
  text-decoration: none;
}

li {
  float: left;
}

li a {
  color: #5c4033;
  padding: 16px;
}

li a:hover {
  background-color: #8b5a2b;
  padding: 8px 16px;
  color: white;
  border-radius: 20px;
}
/* body section css */
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fef3a8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #b71c1c;
  color: white;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.content {
  margin: 20px 0;
}

.donation-options {
  margin-top: 20px;
}

.option {
  background-color: #ffe0b2;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.option h3 {
  margin: 0;
}

button {
  background-color: #b71c1c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 20px;
  background-color: #b71c1c;
  color: white;
  padding: 5px 0;
  border-radius: 0 0 8px 8px;
}
