/** @format */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8e6;
  overflow-x: hidden;
}
/* second navigation bar  */
.nav-bars {
  height: 10vh;
  width: 100%;
  background-color: #ffff;
  /* sticky not working fix it  */
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-main {
  display: flex;
  justify-content: space-between;
}
.logo-text {
  height: 10vh;
  width: 9.3vw;
  margin-left: 0.3vw;
}

.nav-logo {
  height: 5vh;
  width: 7vw;
  margin-top: 0.5vh;
  margin-left: 1.39vw;
}

.logo-image {
  height: 5vh;
  width: 7vw;
}

.nav-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  font-size: 20px;
  margin: 2px;
  color: black;
  margin-left: -1.7vw;
}

.name-link {
  text-decoration: none;
}

.nav-content {
  text-decoration: none;
  font-size: 17px;
}

ul {
  list-style-type: none;
  margin-top: 4vh;
  padding: 0;
}
.list-items {
  text-decoration: none;
}

li {
  float: left;
}

li a {
  color: #5c4033;
  padding: 16px;
}

li a:hover {
  background-color: #8b5a2b;
  padding: 8px 16px;
  color: white;
  border-radius: 20px;
}
/* body section css */
.container {
  width: 100vw;
  height: 100vh;
  /* padding: 20px;

  background: #8d0100;
  background: linear-gradient(
    90deg,
    rgba(141, 1, 0, 1) 0%,
    rgba(255, 0, 2, 1) 50%,
    rgba(156, 0, 0, 0.95) 100%
  );
  border-radius: 1rem;
  justify-content: center;
  align-items: center; */
}
.top {
  height: 12vh;
  width: 98vw;
  padding: 20px;
  background: linear-gradient(
    90deg,
    rgba(141, 1, 0, 1) 0%,
    rgba(255, 0, 2, 1) 50%,
    rgba(156, 0, 0, 0.95) 100%
  );
  justify-content: center;
  align-items: center;
}
.first-element {
  height: 12vh;
  width: 95vw;
  text-align: center;
}
.first-element h1 {
  margin-top: 12px;
  color: #d4af36;
  font-size: 35px;
}
.first-element h3 {
  margin-top: -2vh;
  color: #d4af36;
}
.left-side {
  margin-top: 7vh;
  margin-left: 4vw;
  height: 50vh;
  width: 48vw;
  padding: 10px 50px;
  border-radius: 2px;
  border: solid 3px #d0a600;
  border-radius: 1rem;
}
.left-side h2 {
  color: rgba(141, 1, 0, 1);
  font-size: 22px;
}
.left-side p {
  font-size: 20px;
}
.right-first {
  height: 50vh;
  width: 20vw;
  background-color: rgb(255, 255, 255);
  margin-left: 60vw;
  margin-top: -53vh;
  padding: 10px 25px;
  border: solid 3px #d0a600;
  border-radius: 1rem;
}
.right-first h3 {
  color: rgba(141, 1, 0, 1);
  font-size: 22px;
}
.right-first p {
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.right-first img {
  width: 20vw;
  height: 23vh;
}
.right-second {
  height: 50vh;
  width: 20vw;
  background-color: rgb(255, 255, 255);
  margin-left: 60vw;
  margin-top: 10vh;
  padding: 10px 25px;
  border: solid 3px #d0a600;
  border-radius: 1rem;
}
.right-second h3 {
  color: rgba(141, 1, 0, 1);
  font-size: 22px;
}
.right-second p {
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.right-second img {
  width: 20vw;
  height: 24vh;
}
.donation-footer {
  margin-top: 10vh;
  height: 10vh;
  width: 100%;
}
.footer-content {
  height: 12vh;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(141, 1, 0, 1) 0%,
    rgba(255, 0, 2, 1) 50%,
    rgba(156, 0, 0, 0.95) 100%
  );
  justify-content: center;
  align-items: center;
  font-size: 21px;
  padding: 6px;
  color: #d4af36;
}
.footer-content p {
  text-align: center;
}
.copyright {
  height: 2.8vh;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 1.6vh;
}
