/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}

/* first navigation bar */
.container {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  width: 100%;
  color: #5c4033;
  position: relative;
  background-color: #e5e5e5;
}
.left-side {
  margin-top: 0.3vh;
}
.email {
  text-decoration: none;
  color: #5c4033;
  padding-left: 1vw;
}
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

.login-link {
  color: #5c4033;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 10px;
  box-sizing: border-box;
}
.right-side a:hover {
  background-color: #8b5a2b;
  color: white;
  border-radius: 20px;
}

/* second navigation bar  */
.nav-bars {
  height: 10vh;
  width: 100%;
  background-color: #ffff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-main {
  display: flex;
  justify-content: space-between;
}
.logo-text {
  height: 10vh;
  width: 9.3vw;
  margin-left: 0.3vw;
}
.nav-logo {
  height: 5vh;
  width: 7vw;
  margin-top: 0.5vh;
  margin-left: 1.39vw;
}
.logo-image {
  height: 5vh;
  width: 7vw;
}
.nav-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  font-size: 20px;
  margin: 2px;
  color: black;
  margin-left: -1.7vw;
}
.name-link {
  text-decoration: none;
}
.nav-content {
  text-decoration: none;
  font-size: 17px;
}

ul {
  list-style-type: none;
  margin-top: 4vh;
  padding: 0;
}
.list-items {
  text-decoration: none;
}

li {
  float: left;
}

li a {
  color: #5c4033;
  padding: 16px;
}

li a:hover {
  background-color: #8b5a2b;
  padding: 8px 16px;
  color: white;
  border-radius: 20px;
}

/* text of center */
.content {
  position: relative;
  top: -50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px black;
}

.content h1 {
  font-size: 3rem;
}

.content p {
  font-size: 1.5rem;
}

/* slide show properties */
/* full body */
/* mainnnnnnnn backgroundddddd */
.main-background {
  position: relative;
  top: -10vh;
  height: 90vh;
  width: 100%;
  z-index: 1;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.content {
  margin-top: -9vh;
}
.content p {
  text-align: justify;
  width: 40vw;
  margin-left: 31vw;
  font-size: 1.8rem;
}
.content h1 {
  font-size: 3.8rem;
}
.btn-main {
  display: flex;
  height: 8vh;
  width: 10vw;

  margin-left: 46vw;
  margin-top: -30%;
  position: relative;
  z-index: 1000;
}

/* modal css property */
/* Style for the button itself */
/* user idea */

:root {
  --modal-duration: 1s;
}
.user-idea {
  display: none;
  position: fixed; /* important for full screen overlay */
  top: 0;
  left: 0;
  margin-top: 85px;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  justify-content: space-between;
}

#open {
  background-color: #f05d5e; /* Pink */
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5rem;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.cta-btn:hover {
  background: #72fa7c;
  color: #f1faf3;
  box-shadow: 0 0 10px #72fa7c, 0 0 20px #72fa7c, 0 0 40px #72fa7c;
}
#open:active {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(57, 41, 41, 0.5),
    0 0 20px rgba(105, 94, 94, 0.2);
  outline-color: rgba(117, 97, 97, 0);
  outline-offset: 15px;
}
.modal {
  background-color: #f05d5e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  /* overflow: auto; */
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: 70vh;
  width: 70vw;
}
.left-side-image {
  overflow: hidden;
  position: fixed;
  background-color: #5c4033;
  height: 66vh;
  width: 27vw;
}
.right-description {
  height: 65.5vh;
  width: 39vw;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 28vw;
  margin-top: 1.8px;
  background-color: #ffffff;
}
.balaji-image {
  height: 66vh;
  width: 27vw;
  margin-bottom: 1vh;
}
.text-edit {
  margin: 20px;
}
.text-edit p {
  font-size: 20px;
}
.right-text {
  margin-bottom: 13px;
}
.modal-content {
  padding: 20px;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 25px;
  position: absolute;
  top: 1px;
  right: 2px;
  cursor: pointer;
  width: 25px;
  height: 35px;
}

.close-btn:hover {
  border: #8b5a2b;
  color: #fff;
  background-color: black;
}
/* for javascript */
.show-modal {
  display: block;
}

.btn-border {
  border-radius: 4px;
}
/* image slide show property */
.slideshow {
  position: relative;
  top: 0vh;
  margin-top: 10vh;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeZoom 24s infinite;
}
.slideshow::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: white; /* Match background or use a different color */
  clip-path: ellipse(70% 100% at 50% 100%);
  z-index: 2;
}
.slide1 {
  background-image: url("img1.jpg");
  animation-delay: 0s;
}
.slide2 {
  background-image: url("img2.webp");
  animation-delay: 6s;
}
.slide3 {
  background-image: url("222img.webp");
  animation-delay: 12s;
}
.slide4 {
  background-image: url("333img.jpeg");
  animation-delay: 18s;
}

@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 1;
    transform: scale(1.1);
  }
  30% {
    opacity: 1;
    transform: scale(1.15);
  }
  40% {
    opacity: 0;
    transform: scale(1.15);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* expected results or output section  */
/* Sliding text effect */
.sliding-text {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #5c4033;
  font-weight: bold;
  padding: 1rem 0;
  animation: slideInFromBottom ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
  opacity: 0; /* Start hidden */
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.output-main {
  display: flex;
  position: relative;
  left: 7.5vw;
  height: 65vh;
  width: 40vw;
  margin: 4vh;
  margin-top: 15px;
  background-color: #72fa7c;
}
.output-view {
  height: 65vh;
  width: 40vw;
  top: 2.4vh;
  background-color: #5c4033;
}
.second-output-main {
  display: flex;
  height: 65vh;
  width: 40vw;
  margin: 4vh;
  margin-top: 1px;
  /* float: right; */
}
.second-output-view {
  height: 65vh;
  width: 40vw;
  top: 2.4vh;
  /* background-color: #5c4033; */
}
video {
  height: 65vh;
  width: 40vw;
}
